*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscode
TestPlugins-master/
CloudstreamRepo_Deploy/
CloudstreamRepo/
build_log.txt
log.txt
*.rar
*.zip
*.bat
!push-to-github.bat
cloudstream-4.6.0/
